{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

body{
    background-color:;
    color: white;
    font-size: 13px;
    background-color: #4fffcf;
    background-color: #11132c;
    background-image: url(img/fondo.jpeg);
}

a{
    background:;
    text-decoration:none;
bottom: auto;
}

ul{
    list-style: none;
    
}




h1 {
font-size: 30px;
  color: rgb(8, 196, 61);
  margin-bottom: 0px;
}

#wheel {
  background-image: url(img/ban2.JPG);
  width: 225px;
  height: 325px;
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}



#movieImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#spinner {
margin-left: 50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid white;
  position: absolute;
  left: 200%;
  bottom: -100px;
  transform-origin: bottom;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(8, 196, 61);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.baner h1{
    background-color: #00000089; /* Color de fondo */
   border-radius: 20px;
  color: rgba(31, 224, 169, 0.887);
  text-align: center;
  border:1px solid #f0fcf56b;
}

.more{
  cursor: pointer;
  background-color: rgba(46, 241, 189, 0.662);
  color: rgba(3, 7, 128, 0.881);
  border: none; 
border-radius:20px;
font-size: 18px;
   
}

.contentmore {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Centra horizontalmente el contenido */
  
}


.hidden {
  display: none;
    opacity:0;
    transition: opacity 0.3s ease; /* Agrega una transición suave */
  }




.container {
width: 75%;
margin: auto;
}


::placeholder{
  color: rgb(6, 174, 76);
  font-size: 15px;
}

#searchInput { 
  color: azure;
  outline: none;
  width: 200px;
  padding: 5px;
  font-size: 15px;
  border-radius: 25px;
  background-color:rgba(9, 198, 18, 0.305) ;
  border: 2px solid rgb(4, 178, 62);
}

#results {
  list-style-type: none;
  padding: 0;
  position: absolute; /* Hacer que el contenedor de resultados sea absoluto */
  top: 100%; /* Posicionar los resultados debajo del campo de búsqueda */
  left: 0;
  width: 100%;
  max-height: 200px; /* Altura máxima de los resultados */
  overflow-y: auto; /* Agregar desplazamiento vertical si los resultados son más largos que el contenedor */
  border-radius: 5px;
  background-color: #fff;
  z-index: 999; /* Asegurar que los resultados estén en la parte superior */
}

#results li {
  margin: 5px 0;
  padding: 7px;
  background-color: #ffffff;
  border-radius: 7px;
  cursor: pointer;
  display: block;
 
}

#results li:hover {
  background-color: #e0e0e0;
}
#results li:last-child {
  border-bottom: none; /* Eliminar el borde inferior del último elemento */
}
















.conter {
  position: absolute;
  left: 75%;
  top: 8.5%;
  transform: translate(-50%,-50%);

}





.nav-main {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px;
    

}

.nav-brand{
    width: 170px ;
    margin-top: 30px;
    
}

.nav-main ul{
    display: flex;
}
.nav-main ul li a{
padding: 2px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifß;
}
.nav-main ul li a:hover{
border-bottom: 3px solid white;
}

.nav-main ul li{
    padding:10px;
}
.nav-main ul.nav-menu{
    flex: 1;
   margin-left: 275px;
   margin-top: 63px;
     border-bottom: none; /* Eliminar el borde inferior del último elemento */
}





.menu-btn{
  position: absolute;
  cursor: pointer;
  top :43px;
  right:70px;
  z-index: 2;
  font-size: 1.5rem;
  color:  rgb(8, 196, 61);
  display: none;
}

hr{
    margin: 10px 0;
}
  
.showcase {
    width: 1280px 0;
   height: 687px ;
   background: url(img/showcase2.jpeg.jpeg) no-repeat center center/cover;
   margin-bottom: 20px;
   flex-direction: column;
  padding: 20px;
}

.showcase h2{
 padding: 100px 0 ;

  font-size: 35px;
  color:rgba(46, 241, 189, 0.93) ;
}

.showcase h4 {
  color: rgba(46, 241, 189, 0.93);

width: 70% ;
font-size: 35px;

}




.btn {
  cursor: pointer;  
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding:10px 20px;
  background:#1a1d1a;
  color: rgba(46, 241, 189, 0.662);
  font-size: 15px;
  border:1px solid aqua;

}


.btn:hover{
    opacity: .6;
}




.bt {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background:none;
    color:rgb(8, 196, 61);
    font-size: 18px;
    border:none;

  }


  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 25px;
    margin: 10px 0;
  }



  .content img{
    width: 60%;
   
   }
 
   .content p{
     color: white;
     font-size: 13px;
     text-alig;
     width: 70%
   }
   .content h3{
     color:rgba(46, 241, 189, 0.93) ;
     font-size: 20px;
     margin: 10px 0;
   }
   .content a{
     padding: 10px 0;
     color:rgba(46, 241, 189, 0.662);
     font-size: 15px;
     display: inline-block;
     font-weight: bold;
   }
 
   .content a:hover{
     text-decoration: underline;
   }

  .news-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 25px;
    margin: 10px 0;
  }

  .news-cards img{
    
    width: 60%;
  }

  .news-cards p{
    color: white;
    font-size: 13px;
    text-alig;
    width: 70%
  }
  .news-cards h3{
    color:rgba(46, 241, 189, 0.93) ;
    font-size: 20px;
    margin: 10px 0;
  }
  .news-cards a {
    padding: 10px 0;
    color:rgba(46, 241, 189, 0.662);
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
  }

  .news-cards a:hover{
    text-decoration: underline;
  }

  .cards-baner{
    width: 100%;
    height: 350px;
    background:url(img/baner.jpeg)no-repeat center center/cover;
    margin-bottom: 40px;
  }

  .cards-baner .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color:white;
  }

  .cards-baner p{
    margin: 10px 0 10px 0px;
    color: white;
  }

  .cards-baner h2{
    color: rgba(46, 241, 189, 0.93);
    margin: 5px 0 10px 0px;
  }


  .cards-baner a{
   
    margin: 5px 0 7px 0px;
  }


  
  .cybert-cards{
    background-color: #0000006b; /* Color de fondo con transparencia */
    color: white; /* Color de texto */
    padding: 20px; /* Espaciado interior */
    border: 2px solid #00d25b6b; /* Borde de 2px de ancho, sólido y blanco */
    border-radius: 10px; /* Radio de los bordes */
    width: 98%;
    height: 500px ;
  text-align: center;
  }

  .cybert-cards .content{
    width: 60% ;
    padding: 90px 0 0 30px;
    color: white;
  }

  .cybert-cards p{
    margin: 10px 0 10px 0px;
    color: white;
  }

  .cybert-cards h2{
    color: rgba(46, 241, 189, 0.93);
    margin: 5px 0 10px 0px;
  }


  .cybert-cards a{
    font-size: 1.5rem;
    margin: 5px 0 7px 0px;
  }

  .social{
    margin: 50px;
  }


  .social p{ 
    color: rgba(46, 241, 189, 0.93);
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .links{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links a{
    margin: 0 20px;
  }

  .links a i{
    color: rgb(8, 196, 61);
    font-size: 2rem;
  
  }


  .footer-links{
    background: rgb(0, 0, 0);
    color: gray;
    font-size: 12px;
    padding: 35px 0;
  }

  .footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }

  .footer-container ul{
    margin: 0 auto;
  }
  
  .footer-container ul li{
    line-height: 2.8;
  }


  .footer-container h3{
color: white;
  }

  .footer-container h2{
    color: white;
    font-size: 20px;
  }


 @media (max-width: 700px){

  .container {
    width: 87%;
    margin: auto;
    }

  .menu-btn{
    position: absolute;
    cursor: pointer;
    top :75px;
    right: 60px;
    z-index: 2;
    font-size: 1.5rem;
    color:  rgb(8, 196, 61);
    display: none;
  }

  #searchInput { 
    color: azure;
    outline: none;
    width: 140px;
    padding: 2px;
    font-size: 15px;
    border-radius: 25px;
    background-color:rgba(9, 198, 18, 0.305) ;
    border: 2px solid rgb(4, 178, 62);
    
  }

  .conter {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%,-50%);

  } 


  .showcase h2{
    padding: 100px 0 ;
     font-size: 30px;
     color:rgba(46, 241, 189, 0.93) ;
   }

  .conte{
    left: 80%;
    top: 11.5%;
  }
  
  .b{
    width: 35px;
    height: 35px;
    line-height: 40px;
  }
  
  input{
    height: 20px;
  }
  ::placeholder{
    color:grey;
    font-size: 17px;
  }
  .conte:hover input{
    width: 150px;
  }

.menu-btn{
  display:block;
}

.btns a{
  
  margin-right: 30px;
}

.nav-main ul.nav-menu {
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  background: #1a1d1a;
  padding: 20px;
  opacity:.8;
  height: 65%;
  transform: translateX(-700px);
  transition: transform .5s ease-in-out;
 
}



  
.nav-main ul.nav-menu.show{
  transform: translateX(-300px);
}

.cards-baner .content{
  width: 90%;
}

.cybert-cards .content{
  width: 80%;
}

.nav-menu li {

  padding: 20px;
  
}

.nav-menu-rigth{
  margin-right: 40px;
}



  .news-cards {
    grid-template-columns: repeat(2,1fr);

  }
  .footer-links .footer-container{
    grid-template-columns: repeat(2,1fr);
  }

}

@media (max-width: 600px){

  .container {
    width: 87%;
    margin: auto;
    }

  .menu-btn{
    position: absolute;
    cursor: pointer;
    top :75px;
    right: 50px;
    z-index: 2;
    font-size: 1.5rem;
    color:  rgb(8, 196, 61);
    display: none;
  }

  #searchInput { 
    color: azure;
    outline: none;
    width: 140px;
    padding: 2px;
    font-size: 15px;
    border-radius: 25px;
    background-color:rgba(9, 198, 18, 0.305) ;
    border: 2px solid rgb(4, 178, 62);
    
  }

  .conter {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%,-50%);

  } 


  .showcase h2{
    padding: 100px 0 ;
     font-size: 30px;
     color:rgba(46, 241, 189, 0.93) ;
   }

  .conte{
    left: 80%;
    top: 11.5%;
  }
  
  .b{
    width: 35px;
    height: 35px;
    line-height: 40px;
  }
  
  input{
    height: 20px;
  }
  ::placeholder{
    color:grey;
    font-size: 17px;
  }
  .conte:hover input{
    width: 150px;
  }

.menu-btn{
  display:block;
}

.btns a{
  
  margin-right: 30px;
}

.nav-main ul.nav-menu {
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  background: #1a1d1a;
  padding: 20px;
  opacity:.8;
  height: 65%;
  transform: translateX(-700px);
  transition: transform .5s ease-in-out;
 
}



  
.nav-main ul.nav-menu.show{
  transform: translateX(-300px);
}

.cards-baner .content{
  width: 90%;
}

.cybert-cards .content{
  width: 80%;
}

.nav-menu li {
  padding: 20px;
  font-size: 20px;
}

.nav-menu-rigth{
  margin-right: 40px;
}



  .news-cards {
    grid-template-columns: repeat(2,1fr);

  }
  .footer-links .footer-container{
    grid-template-columns: repeat(2,1fr);
  }

}


















@media (max-width: 500px) {

  .menu-btn{
    
    top :75px;
    right: 55px;
    
  }

  #searchInput { 
    color: azure;
    outline: none;
    width: 140px;
    padding: 2px;
    font-size: 15px;
    border-radius: 25px;
    background-color:rgba(9, 198, 18, 0.305) ;
    border: 2px solid rgb(4, 178, 62);
    
  }

  .conter {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%,-50%);

  } 



  .container {
    width: 80%;
    margin: auto;
    }


  .content{
    display: grid;
    grid-template-columns: 1fr  ;
    gap: 25px;
    margin: 10px 0;
  }

  .nav-brand{
    width: 150px ;
    margin-top: 35px;
    
}

  #wheel {
    background-color: #007bff;
    width: 225px;
    height: 290px;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
  }

  .showcase h2{
    padding: 100px 0 ;
     font-size: 20px;
     color:rgba(46, 241, 189, 0.93) ;
   }

.conte{
  left: 66%;
  top: 11.5%;
}

.b{
  width: 35px;
  height: 35px;
  line-height: 40px;
}

input{
  height: 20px;
}
::placeholder{
  color:grey;
  font-size: 17px;
}
.conte:hover input{
  width: 150px;
}


.nav-main ul.nav-menu {
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  background: #1a1d1a;
  padding: 20px;
  opacity:.8;
  height: 65%;
  transform: translateX(-700px);
  transition: transform .5s ease-in-out;
 
}



  
.nav-main ul.nav-menu.show{
  transform: translateX(-300px);
}

  .cards-baner .content{
    width: 90%;
  }
  
  .cybert-cards .content{
    width: 80%;
  }
  
  .nav-menu li {
    padding: 20px;
    font-size: 20px;
  }
  
  .nav-menu-rigth{
    margin-right: 40px;
  }
  
    .news-cards {
      grid-template-columns: repeat(1,1fr);
  
    }
    .footer-links .footer-container{
      grid-template-columns: repeat(1,1fr);
    }
}


@media (max-width: 400px) {

  
  .nav-brand{
    width: 100px ;
    margin-top: 30px;
    
}

.container {
    width: 85%;
    margin: auto;
    }

  .menu-btn{
    
    top :80px;
    right: 40px;
   
  }

  #searchInput { 
    color: azure;
    outline: none;
    width: 140px;
    padding: 2px;
    font-size: 15px;
    border-radius: 25px;
    background-color:rgba(9, 198, 18, 0.305) ;
    border: 2px solid rgb(4, 178, 62);
    
  }

  .conter {
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%,-50%);

  } 

  .content{
    display: grid;
    grid-template-columns: 1fr  ;
    gap: 25px;
    margin: 10px 0;
  }

  .nav-brand{
    width: 150px ;
    margin-top: 35px;
    
}

  #wheel {
    background-color: #007bff;
    width: 225px;
    height: 290px;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
  }

  .showcase h2{
    
     font-size:23px;
    
   }

.conte{
  left: 66%;
  top: 11.5%;
}

.b{
  width: 35px;
  height: 35px;
  line-height: 40px;
}

input{
  height: 20px;
}
::placeholder{
  color:grey;
  font-size: 17px;
}
.conte:hover input{
  width: 150px;
}



.cybert-cards{

  width: 90%;
  height: 550px ;

}

.nav-main ul.nav-menu {
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  background: #1a1d1a;
  padding: 20px;
  opacity:.8;
  height: 65%;
  transform: translateX(-700px);
  transition: transform .5s ease-in-out;
 
}



  
.nav-main ul.nav-menu.show{
  transform: translateX(-300px);
}
   
  .cards-baner .content{
    width: 90%;
  }
  
  .cybert-cards .content{
    width: 80%;
  }
  
  .nav-menu li {
    padding: 20px;
    font-size: 20px;
  }
  
  .nav-menu-rigth{
    margin-right: 40px;
  }
  
    .news-cards {
      grid-template-columns: repeat(1,1fr);
  
    }
    .footer-links .footer-container{
      grid-template-columns: repeat(1,1fr);
    }
}
